@import "../../styles/variables.scss";

.tab,
.tab__selected {
  font-family: $font-family;
  caret-color: transparent;
}

.tabs {
  border-bottom: solid $play-blue $tab-weight;
}

.tab {
  color: rgb(145, 138, 138);
  display: inline-block;
  padding: 0.5rem 0.5rem;
  &:hover {
    cursor: pointer;
    color: white;
  }
  &__selected {
    border-radius: 8px 8px 0 0;
    color: white;
    border-top: $play-blue solid $tab-weight;
    border-right: $play-blue solid $tab-weight;
    border-left: $play-blue solid $tab-weight;
    border-bottom: $dark-background solid $tab-weight;
    display: inline-block;
    padding: 0.5rem 2rem;
    margin-bottom: -$tab-weight;
    box-shadow: 0px -9px 7px 0.1px $confirm-click-color;
    &:hover {
      cursor: pointer;
    }
  }
}
