@import "./variables.scss";

@keyframes wave-button-pulse {
  0% {
    box-shadow: 0 0 0 0;
    color: $white;
  }
  50% {
    box-shadow: 0 0 5px 2px $white;
    background-color: $error-color;
    color: $black;
  }

  100% {
    box-shadow: 0 0 0 0;
    color: $white;
  }
}

@keyframes name {
  0% {
    margin-top: 20px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}
