$font-family: "Play", sans-serif;
$font-family-amatic: "Amatic SC", cursive;
$font-family-radjdhani: "Rajdhani", sans-serif;
$font-family-raleway: "Raleway", sans-serif;
$font-family-rubik: "Rubik", sans-serif;
$font-family-rubik-bold: "Rubik", sans-serif, bold;

$active-opacity: 1;
$inactive-opacity: 0.15;
$round: 35px;
$pill-box: 10px;

$white: #fff;
$black: #000;

$dark-background: #252a31;

$danger-color: #ee5253;
$error-color: #ff9f43;
$confirm-color: #10ac84;
$confirm-click-color: #1a8d72;
$click-color: rgb(157, 240, 173);
$tab-weight: 4px;

$wave-color: rgb(63, 217, 91);
$play-blue: rgba(80, 100, 255, 1);
$play-blue-text: rgb(156, 190, 250);
$play-blue-background: rgba(0, 0, 255, 0.1);

$spacing: 2rem;
