@import "../../styles/variables.scss";
@import "../../styles/animations.scss";

.button,
.button__selected {
  padding: 0.5em;
  font-family: $font-family;
  width: 65px;
  height: 50px;
  color: $play-blue-text;
  border: unset;
  border-radius: 10px;
  background-color: $play-blue;
  margin-top: 1em;
  &:hover {
    cursor: pointer;
    background-color: $error-color;
    color: $black;
  }

  &__selected {
    animation: wave-button-pulse 20s infinite;
    background-color: $confirm-color;
    color: $dark-background;
  }
}
