@import "../../styles/variables.scss";

.container {
  background-color: $dark-background;
  display: block;
  padding: 1rem 0;
  margin: 1rem;
  margin-top: 2rem;
  box-shadow: 5px 5px 8px 1px, -1px 0px 17px 0.5px rgb(32, 42, 36);
}
